@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Shadows+Into+Light&display=swap');

/*--------Colors-------*/

.bg-color-body {
    background-color: #fafafa;
}

.bg-color-content {
    background-color: #EDEDE9;
}

.accent-color {
    color: #fc4a1a;
    transition: all 0.5s ease-in-out;
}

.accent-color:hover {
    color: #f7b733;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.title {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding-left: 20px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.menu li:not(:last-child) {
    border-right: 1px solid grey;
    margin-right: 20px;
    padding-right: 20px;
}

header.hero {
    height: 540px;
    margin-bottom: 50px;
    background: url('/static/images/hero.jpeg') no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

header.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.2;
}

header.hero .site-heading h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 4.4em;
    font-weight: 800;
    text-shadow: 0 0 5px #212529;
}

header.hero .subheading {
    font-size: 1.2em;
    color: #ffffff;
}

.card-container {
    margin-top: 5%;
}

.card {
    margin: 0 5%;
}

.card img {
    object-fit: cover;
}

.jumbotron {
    margin: 5% 0;
    height: 420px;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}

.jumbotron .container {
    height: 380px;
    /* background: rgba(245, 235, 224, 0.8); */
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.sign-up-text {
    font-size: 2em;
    font-weight: 500;
    padding: 4% 4% 2% 4%;
    margin: 0;
}

.sign-up-btn {
    width: 120px;
    height: 40px;
    /* fallback for old browsers */
    background: #fc4a1a;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #fc4a1a;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #fc4a1a;
    text-decoration: none;
    border: #fc4a1a 1px solid !important;
    color: #ffffff;
    text-align: center;
}

.sign-up-btn:hover {
    background: #f7b733;
    transition: ease-in-out 0.5s;
}
.sign-up-btn p {
    padding: 2%;
}

.featured-card img {
    padding-top: 10px;
    max-height: 220px;
    object-fit: cover;
}

.card-title a {
    text-decoration: none;
    color: #fc4a1a;
    font-weight: 400;
    font-size: 24px;
}

.card-text {
    text-align: center;
}

.card-text h5 {
    font-size: 26px;
    font-weight: 600;
}

.card-text small {
    font-size: 12px;
}

.post-author {
    font-style: italic;
}

.current-img img {
    height: 220px;
    width: 360px;
    object-fit: cover;
    margin-bottom: 20px;
}

.trash-can-lrg {
    height: 50px;
    width: 30px;
}


@media screen and (max-width: 720px) {
    header.hero .site-heading h1 {
        font-size: 3.8em;
    }

    .sign-up-text {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 540px) {
    header.hero .site-heading h1 {
        font-size: 2.6em;
    }

    .jumbotron {
        background: none;
        background-color: #F5EBE0;
    }
}