@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Shadows+Into+Light&display=swap');

/*--------Colors-------*/

.bg-color-body {
    background-color: #fafafa;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding-left: 20px;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.menu li:not(:last-child) {
    border-right: 1px solid grey;
    margin-right: 20px;
    padding-right: 20px;
}

header.hero {
    height: 540px;
    margin-bottom: 50px;
    background: url('/static/images/hero.jpeg') no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

header.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.2;
}

header.hero .site-heading h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 4.4em;
    font-weight: 800;
    text-shadow: 0 0 5px #212529;
}

header.hero .subheading {
    font-size: 1.2em;
    color: #ffffff;
}

.card-container {
    margin-top: 5%;
}

.card {
    margin: 0 5%;
}

.card img {
    object-fit: cover;
}

.jumbotron {
    margin: 5% 0;
    height: 420px;
    background: url('/static/images/travel-diary.jpg') no-repeat center center;
    background-size: cover;
}

.jumbotron .container {
    background: rgba(245, 235, 224, 0.8);
    color: #212529;
}

.sign-up-text {
    font-size: 1.6em;
    font-weight: 500;
    padding: 4% 4% 2% 4%;
    margin: 0;
}

.jumbotron .btn {
    width: 160px;
    margin-bottom: 2%;
}


@media screen and (max-width: 720px) {
    header.hero .site-heading h1 {
        font-size: 3.8em;
    }
}

@media screen and (max-width: 540px) {
    header.hero .site-heading h1 {
        font-size: 2.6em;
    }
}