{% extends "blog/base.html" %} {% load static %}
<!--This will hide the header content-->
{% block header %} {% endblock %} {% block title %} Add a new article
{% endblock %} {% block content %}


<div class="row">
  <div class="mt-5 text-center">
    <h2>Add your comment</h2>
  </div>
</div>

<div class="container bg-color-content">
  <div class="row">
    <div class="form-group mt-5 mb-5">
      <!--Use Django form -->
      <form action="{% url 'add_comment' post.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="head_title" class="form-label">Your Comment: </label>
          {{ form.text }}
        </div>
        <button href="{% url 'post_detail' %}" type="submit" class="btn btn_color btn-outline">
          Cancel
        </button>
        <button type="submit" class="btn btn_color sign-up-btn float-end">
          Save
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
