{% extends "blog/base.html" %} {% load static %}
<!--This will hide the header content-->
{% block header %} {% endblock %} {% block title %} Add a new article
{%endblock%} {% block content %}

<!--Display error - Bootstrap alert-->
{% if submitted %} Your post has been saved! {% else %}

<!--Use Django form -->
<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label for="head_title" class="form-label">Title</label>
    {{ form.title }}
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">New Story</label>
    {{ form.content }}
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Cover Photo</label>
    {{ form.image }}
  </div>

  <button type="submit" class="btn btn_color sign-up-btn">Publish</button>
</form>

{% endif %} {% endblock %}
