{% extends "blog/base.html" %} {% load static %}
<!--This will hide the header content-->
{% block header %} {% endblock %} {% block title %} Add a new article
{% endblock %} {% block content %}

<form
    action=""
    method="post"
    enctype="multipart/form-data"
    >
    {% csrf_token %}
    <div class="container">
        <div class="jumbotron-confirm">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <h3>Are you sure you wish to delete this post?</h3>
                    <div class="col-lg-12 mt-3">
                        <input href="{% url 'delete_post' post.pk %}" type="submit" class="btn delete-btn" value="Delete"/>
                        <a href="{% url 'edit_post' post.pk %}">
                            <button href="{% url 'my_posts' %}" type="button" class="btn sign-up-btn">
                                Cancel
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}