{% extends "blog/base.html" %} {% load static %}
<!--This will hide the header content-->
{% block header %} {% endblock %} {% block title %} Add a new article
{%endblock%} {% block content %}

<!--Display error - Bootstrap alert-->
{% if submitted %} Your post has been saved! {% else %}

<div class="row">
  <div class="mt-5 text-center">
    <h2>Edit your story</h2>
  </div>
</div>

<div class="container bg-color-content">
  <div class="row">
    <div class="form-group mt-5 mb-5">
      <!--Use Django form -->
      <form
        action="{% url 'edit_post' post.id %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="mb-3">
          <label for="head_title" class="form-label">Title</label>
          {{ form.title }}
        </div>

        <div class="mb-3">
          <label for="content" class="form-label">New Story</label>
          {{ form.content }}
        </div>

        <div class="mb-3 current-img">
          <label for="image" class="form-label">Cover Photo</label>
          <br />
          <span>Current image</span><br />
            {% if "placeholder" in post.image.url %}
                <img src="/static/images/placeholder-img.png" class="card-img-top" alt="placeholder image">
                <p>Change your image:</p>
                {{ form.image }}
              {% else %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="placeholder image">
                <p>Change your image:</p>
                {{ form.image }}
            {% endif %}
        </div>
        <div class="float-end" style="display: inline-block">
          <button type="submit" class="btn btn_color sign-up-btn">
            Save
          </button>
          <a href="{% url 'delete_post' post.pk %}"
            ><button type="button" class="btn btn_color btn-outline-danger">
              Delete
            </button></a
          >
        </div>
      </form>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
