{% extends 'blog/base.html' %} {% block content %}

<div class="row">
  <div class="text-center">
    <h2>Latest stories</h2>
  </div>
</div>

<div class="container card-container">
  <div class="row">
    <div class="card-group">
      <div class="card">
        <img
          class="card-img-top"
          src="../static/images/placeholder-img.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text author">By</p>
          <p class="card-text">
            <small class="text-muted">Posted on </small>
          </p>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="../static/images/placeholder-img.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text author">By</p>
          <p class="card-text">
            <small class="text-muted">Posted on </small>
          </p>
        </div>
      </div>

      <div class="card">
        <img
          class="card-img-top"
          src="../static/images/placeholder-img.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text author">By</p>
          <p class="card-text">
            <small class="text-muted">Posted on </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <p class="lead sign-up-text">
      Have you ever wanted to create that little diary of your travels and share
      the best ones with others? Join us, to create your own stories and share
      your best trips, expierences and places to visit. <br />
      Be inspired and become an inspiration to someone else!
    </p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
    </p>
  </div>
</div>

{% endblock %}
