{% extends "blog/base.html" %} {% load static %}
<!--This will hide the header content-->
{% block header %} {% endblock %} {% block content %}

<div class="container bg-color-content">
  <div class="row">
    <div class="card col-lg-8 mt-5 mb-3 mx-auto">
      {% if "placeholder" in post.image.url %}
      <img
        src="/static/images/placeholder-img.png"
        class="card-img-top"
        alt="placeholder image"
      />
      {% else %}
      <img src="{{ post.image.url }}" class="card-img-top" alt="post image" />
      {% endif %}
      <div class="col-lg-12">
        <strong class="text-secondary float-end me-3">
          {{ post.number_of_likes }} <i class="far fa-heart"></i>
        </strong>
      </div>
      <div class="card-body card-text">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="post-author">By: {{ post.author }}</p>
        <small>{{ post.created_on }}</small>
        <hr />
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
